image: Visual Studio 2017

branches:
  only:
    - master
    - /^v\d+\.\d+\.\d+\.\d+$/

init:
  - ps: |
      if ($env:APPVEYOR_REPO_TAG -eq "true") {
        $Env:KBFRZ71_VERSION = "$($env:APPVEYOR_REPO_TAG_NAME.TrimStart("v"))"
      } else {
        $Env:KBFRZ71_VERSION = "1.0.3.40"
      }

before_build:
  - ps: docker build --cache-from sprinccompdocker/msklc:1.4 --tag private/msklc:1.4 --file .\Dockerfile .\context\

build_script:
  - ps: .\Make-KLC.ps1 -Path .\KBFRZ71.klc.tpl -Output .\KBFRZ71.klc -Force
  - ps: .\Make-KLC.ps1 -Path .\KBFRZ71N.klc.tpl -Output .\KBFRZ71N.klc -Force
  - ps: Set-Content -Path ".\src\KBFRZ71.klc" -Encoding Unicode -Value (Get-Content -Path ".\KBFRZ71.klc" -Raw -Encoding UTF8)
  - ps: Set-Content -Path ".\src\KBFRZ71N.klc" -Encoding Unicode -Value (Get-Content -Path ".\KBFRZ71N.klc" -Raw -Encoding UTF8)
  - ps: |
      docker run `
        --rm `
        --mount "type=bind,source=C:\projects\optimized-azerty-win\src,target=C:\sources" `
        --env "KBFRZ71_VERSION=$Env:KBFRZ71_VERSION" `
        private/msklc:1.4 > build.log
  - ps: |
      $content = (Get-Content -Path ".\build.log" -Raw)
      Write-Host "`r`n"
      if ($content.Contains("Error")) {
        Write-Host $content -ForegroundColor Red
        throw "Build failed."
      }
      else {
        Write-Host $content -ForegroundColor Green
        Remove-Item -Path ".\KBFRZ71.klc"
      }
  - ps: nuget restore .\src\Setup.sln
  - ps: msbuild .\src\Setup.sln /p:Configuration=Release /p:SolutionDir=.\src /p:ProductVersion=$Env:KBFRZ71_VERSION

after_build:
  - ps: 7z a artifacts\setup.zip C:\projects\optimized-azerty-win\src\Setup\bin\x86\Release\net452\*.msi
  - ps: 7z a artifacts\setup.zip C:\projects\optimized-azerty-win\src\Setup\bin\x86\Release\net452\*.exe 
  - ps: 7z a artifacts\setup.zip C:\projects\optimized-azerty-win\src\Setup\bin\x86\Release\net452\*.config

artifacts:
  - path: artifacts\setup.zip
    name: setup
    type: file

deploy:
  - provider: GitHub
    release: $(APPVEYOR_REPO_TAG_NAME)
    description: AZERTY NF Z71-300 Keyboard Layout
    auth_token:
      secure: QxXD5boO1cRwZNpg17XsXqC1kxznj5IhNa1m4TvpuUzl6BSErb99eM0+wMbE5dv8
    artifact: artifacts\setup.zip
    prerelease: true
    on:
      branch: master # only release from master branch
      APPVEYOR_REPO_TAG: true # only release on new tag
